.payment-notice {
  background: linear-gradient(90deg, #7b61ff 0%, #05e283 100.69%);
  height: 62px;
  width: 100%;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.payment-failure {
  background: linear-gradient(90deg, #7b61ff 0%, #ef3f36 100.69%);
}

.payment-notice button {
  background: #111826;
  color: white;
  font-size: 14px !important;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 5px;
}
